{% load staticfiles %}
<header>
    <div class="grid">
        <div class="float group">
            <div class="logo">
                <img src="{% static 'images/logo2.png' %}" alt="image">

                <p><span>Т</span>октогул <span>С</span>атылганов атындагы<br> Мектеп-Лицей Интернаты</p>
            </div>
            <div class="contacts">
                0 (312) <span>44-55-66</span><br>
                E-MAIL: <span>kmi@gmai.com</span>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">Маалымат</a></li>
                <li><a href="{% url 'teachers' %}">Кызматкерлер</a></li>
                <li><a href="{% url 'info' %}">Публикациялар</a></li>
                <li><a href="{% url 'contacts' %}">Байланыш</a></li>
            </ul>
        </nav>
        <div class="line"></div>
    </div>
</header>