{% extends 'main/base.html' %}

{% load staticfiles %}


{% block content %}
    <main>
        <div class="grid">
            <div class="about">
                <h2>Токтогул Сатылганов атындагы мектеп-лицей интернаты жөнүндө маалымат</h2>
                <p>Кыргыз-Түрк “Манас” Университетинин Табигый Илимдер Факультетинин Колдонмо математика жана
                    информатика
                    бөлүмүндө «компьютер жана автоматташтырылган системдердин программалык жабдууларын иштеп чыгуу,
                    экономика жана
                    каржы багытында маалыматтарды иштетүү» багытындагы адистиктери даярдоо белгиленген. 4 жылдык билим
                    берүү окуу планы
                    болония системине ыйлайык түзүлгөн, бүтүрүүчүлөргө “Колдонмо математика жана информатика” багыты
                    боюнча бакалавр
                    даражасындагы диплом ыйгарылат.</p>

                <h2>Профессордук-окутуучулук курамы:</h2>
                <p> Бөлүмдүн билим берүү багыттары боюнча программалары жогорку квалификациялуу, педагогикалык
                    тажрыйбасы бар бөлүмдүн профессордук-окутуучулук курамы менен ишке ашырылып жатат. Булар 1
                    профессор,
                    1 доцент, 2 доценттин милдетин аткаруучу, 1 кенже илимий кызматкер. Алар колдонмо математиканын
                    көптөгөн
                    жаңы тармактарында фундаменталдык жана колдонмо илимий изилдөөлөрдү жүргүзүшөт. Бөлүмдүн
                    окутуучулары
                    чет өлкөдөгү жана өлкөбүздөгү университеттер, институттар менен тыгыз байланышта. </p>
                <img src="{% static 'images/about.jpg' %}" alt="image">
                <iframe width="1200" height="315" src="https://www.youtube.com/embed/K7-cVbMldQ0" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </main>

{% endblock %}