{% extends 'main/base.html' %}

{% load staticfiles %}


{% block content %}
    <main>
        <div class="grid">
            <div class="block">
                <!--Адрес	Жал кампусу, Коммуникация факультетинин имараты-->
                <!--Телефон	00996 312 492756-->
                <!--Факс	00996 312 492761-->
                <!--Ички телефон	1405-->
                <!--Почта	bilgi.fen@manas.edu.kg-->
                <ul class="address">
                    <li>Адрес</li>
                    <li>Телефон</li>
                    <li>Факс</li>
                    <li>Ички телефон</li>
                    <li>Почта</li>
                </ul>
                <ul class="address">
                    <li>Жал кампусу, Коммуникация факультетинин имараты</li>
                    <li>00996 312 492756</li>
                    <li>00996 312 492761</li>
                    <li>1405</li>
                    <li>bilgi.fen@manas.edu.kg</li>
                </ul>
            </div>
        </div>
    </main>

{% endblock %}